extends layout

block content
    table
        tr(class="status-row")
            td Uptime:
            td= uptime
        tr(class="status-row")
            td IP Address:
            td= ipaddr
        tr(class="status-row")
            td Protocol
            td= protocol
        tr(class="status-row")
            td Total Memory
            td= totalMem + " GB"
        tr(class="status-row")
            td Free Memory
            td= freeMem + " GB"
        